 * {
    margin: 0;
    padding: 0;
  }
  
  .navContainer {
      padding-top: 20px;
      height: 45px;
      background-color: #233142;
      color: #e3e3e3;
      display: flex;
      justify-content: space-between;
  }
  
  .navItems {
      display: flex;
      flex-direction: row;
  }
  
  .aboutMeContainer {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      width: 1500px;
  }
  
  .aboutMeHeader {
      padding-right: 20px;
      border-right: solid #FF8C00 7px;
      line-height: 75px;
  }
  
  .aboutMeParagraph {
      padding-left: 20px;
  }
  
  .workHistoryContainer {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      width: 1500px;
  }
  
  .workHistoryHeader {
      padding-right: 20px;
      border-right: solid #FF8C00 7px;
  }
  
  .workHistoryContainer {
      display: flex;
  }
  
  .workHistoryPhotos {
      padding-left: 20px;
  }
  
  .portfolioContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .container img {
      width: 500px;
      height: 300px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 13px;
  }
  
  .workHistoryPhotos img:hover {
      opacity: 50%;
  }
  
  .contactMeContainer {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 50px;
      width: 1500px;
  }
  
  .contactMeHeader {
      padding-right: 20px;
      border-right: solid #FF8C00 7px;
  }
  
  .contactMe {
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .header-pic {
      width: 99vw;
      height: 300px;
      object-fit: cover; 
  }
  
  .testingJavaScript {
      display: flex; 
      align-items: center; 
      flex-direction: column;
      padding-top: 25px;
  }
  
  #easterEgg {
      padding-top: 10px;
  }
  
  button {
      background-color: #FF8C00;
      height: 35px;
      width: 100px;
      border-radius: 10px;
      position: relative;
      right: 12px;
  }
  
  h1 {
      width: 100px;
  }
  
  p {
      font-size: 22px;
      margin-right: 25px;
      font-weight: bold;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
  
  a:hover {
      color: #FF8C00;
  }
  
  


  

   